@import "tailwindcss";
@plugin "daisyui";
.active{
  background-color: #FF6100;
color: white;
padding: 10px;
border-radius: 25px;
}
@theme {
  --font-primary: "Tajawal", system-ui, -apple-system, sans-serif;
}
.main-bg-color{
  background-color: #F46A13;
}
.second-bg-color{
  background-color: #111111;
}

.main-color{
  color: #F46A13;
}
body {
  font-family: var(--font-primary);
}